/* ----- STYLE BASICS ----- */
//import variables-colors & styles for seperate sections
@import 'base/variables';
@import 'layout/_header.scss';
@import 'layout/_introduction.scss';
@import 'layout/_fonts.scss';
@import 'layout/_colors.scss';
@import 'layout/_logo.scss';
@import 'layout/_methodology.scss';
@import 'layout/_components.scss';
@import 'layout/naming.scss';
@import 'layout/footer.scss';

@font-face { 
    font-family: "ASTROLYTT"; 
    src: url("../fonts/astrolyt.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;

    body{
        font-family: Roboto;
        color: $gray;
        background: url('../images/back2.jpg');
        background-size: cover;
        
        h1{
            color: $primary-color;
            font-family: ASTROLYTT;
            font-variant: small-caps;
        }
        #return-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background: rgb(0, 0, 0);
            background: rgba(192, 178, 238, 0.7);
            width: 50px;
            height: 50px;
            display: block;
            text-decoration: none;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
            display: none;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        #return-to-top i {
            color: #fff;
            margin: 0;
            position: relative;
            left: 16px;
            top: 13px;
            font-size: 19px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        #return-to-top:hover {
            background: rgba(155, 136, 218, 0.9);
        }
        #return-to-top:hover i {
            color: #fff;
            top: 5px;
        }
    }


    
 
}



