/* ----- STYLE FOOTER ----- */

.cred {
    height: 5em;
    width: 100%;
    text-align: center;
    background: url("../images/header.jpg");
    background-size: cover;
    p {
        padding: 2em;
        color: #f6f6f6;
    }
}