
/* ----- STYLE COLORS ----- */

#colors {
    margin-top: 4em !important;
    margin: 2em 5em;

    h1{
        font-size: 4em;
    }
    #cont{
        width: 100%;
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .desc{
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 30em;
            justify-content: space-around;
            p{
                background: $white;
                opacity: 0.85;
                margin-top: 2em;
                border-radius: 1em;
                padding: 1.5em;
                color: $gray;
            }
        } 
        .img {
            background: url("../../images/colors.png");
            background-size: cover;
            border: 1px solid #333;
            border-radius: 2em;
            width: 50%;
            height: 40em;
        }
    }
}